.navbar {
    background-color: #8B0000;
}
body {
    padding-top: 80px;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
    display: none;
}
.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}
/* Only works with Chrome. Has known compatibility issues with other browsers */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}